---
export const prerender = false;
import BaseLayout from "@layouts/BaseLayout.astro";
import TodoList from "@components/todo/TodoList.vue";
import { getTodosAPI } from "@services/todo";
import type { TodoResSchema } from "@type/todo";

let todos: TodoResSchema[] = [];
try {
  const reuslt = await getTodosAPI();
  todos = reuslt.data.data ?? [];
} catch (err) {
  console.log(err);
}
---

<BaseLayout>
  <title slot="head">ToDoList</title>
  <TodoList client:load todos={todos} />
</BaseLayout>
