---
import Header from '@components/Header.vue'
import Footer from '@components/Footer.vue'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Header></Header>
    <slot />
    <Footer></Footer>
  </body>
</html>

<script>
  // import axios from 'axios'
  // axios.post('http://localhost:5003/todo/create', { title: '123', status: 0 }).then((response) => {
  //   console.log(response.data)
  // })
</script>